urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
  border: none !important;
}

#urlbar .urlbarView .urlbarView-url,
#urlbar .urlbarView .urlbarView-action {
  font-size: 11pt !important;
  font-style: italic !important;
}

#urlbar .urlbarView .urlbarView-row-inner {
  padding: 5px 8px 7px 8px !important;
}

.urlbarView-row:not([type="tip"], [type="dynamic"])[selected] > .urlbarView-row-inner,
.urlbarView-row:not([type=tip], [type=dynamic], [has-buttons]):hover > .urlbarView-row-inner,
.urlbarView-row[has-buttons] > .urlbarView-row-inner:not([selected]):hover {
  background-color: var(--bg-3) !important;
  border-radius: 3px !important;
  color: var(--primary-color) !important;
}

.urlbarView-row[label]::before {
  border-top: 1px solid var(--border-color);
  color: transparent !important;
  width: 99% !important;
  right: 0px !important;
  left: 0px !important;
}

.findbar-textbox {
  background-color: var(--bg-1) !important !important;
  border: 1px solid var(--border-color) !important;
  color: var(--primary-color) !important;
  outline: none !important;
}

#search-box,
#searchFilter,
input:not(#urlbar-input) {
  -moz-appearance: none !important;
  background-color: var(--bg-5) !important;
  border-radius: 2px !important;
  color: var(--primary-color) !important;
}

input:not(#urlbar-input) {
  padding: 2px 6px 3px 6px !important;
}

#search-box {
  border: 1px solid var(--border-color) !important;
  box-shadow: var(--box-shadow) !important;
}

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* GENERAL */

/** DESCRIPTION : set the main font and others details **/:root {
  --arrowpanel-background: #DEDEDE !important;
  --arrowpanel-border-color: transparent !important;
  --organizer-color: #000 !important;
  --organizer-border-color: #DBC8C8 !important;
  --organizer-content-background: #ECE9E9 !important;
  --organizer-deemphasized-color: #5C5B5B !important;
  --organizer-hover-background: transparent !important;
  --organizer-hover-color: #5C5B5B !important;
  --organizer-outline-color: transparent !important;
  --organizer-pane-background: #DEDEDE !important;
  --organizer-selected-background: transparent !important;
  --organizer-selected-color: #5C5B5B !important;
  --organizer-separator-color: #DBC8C8 !important;
  --organizer-toolbar-background: #FFF !important;
  --organizer-toolbar-field-border-color: #DBC8C8 !important;
  --urlbar-popup-url-color: #2E86DE !important;
  --primary-color: #333 !important;
  --secondary-color: #5C5B5B !important;
  --border-color: #DBC8C8 !important;
  --box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
  --opacity: .7 !important;
  --bg-1:#F2EFEF !important;
  --bg-2:#FFF !important;
  --bg-3:#DEDEDE !important;
  --bg-4:#F1F1F1 !important;
  --bg-5:#FFF !important;
  --bg-6:#ECE9E9 !important;
}

* {
  font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
}

*::-moz-focus-inner {
  border: 0;
}

html {
  overflow: auto;
}

.close-icon,
.tab-icon-image,
.toolbarbutton-animatable-box,
.toolbarbutton-1 {

  /*** ICONS AND BUTTONS ***/
  fill: var(--primary-color) !important;
}

.downloadButton,
.tab-throbber {
  color: var(--primary-color) !important;
}

.tab-icon-overlay[muted],
.tab-icon-overlay[soundplaying],
.titlebar-buttonbox-container .titlebar-button {
  stroke: var(--primary-color) !important;
}

.tab-icon-overlay[muted],
.tab-icon-overlay[soundplaying] {
  color: var(--border-color) !important;
}

#appMenu-zoomReduce-button2 > .toolbarbutton-icon,
#appMenu-zoomEnlarge-button2 > .toolbarbutton-icon {
  stroke: transparent !important;
}

#appMenu-fullscreen-button2 > .toolbarbutton-icon {
  background: transparent !important;
}

.close-icon:hover,
#back-button:not([disabled="true"]):hover,
#forward-button:not([disabled="true"]):hover,#reload-button:hover,#stop-button:hover {
  background-color: transparent !important;
  fill: var(--secondary-color) !important;
}

#identity-icon-box[open="true"] {
  background: transparent !important;
  color: var(--secondary-color) !important;
}

.private-browsing-indicator {
  margin-top: -5px !important;
  margin-right: 2px !important;
}

button,
#editBookmarkPanel .expander-up,
#editBookmarkPanel .expander-down {
  -moz-appearance: none !important;
  background-color: var(--bg-2) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 2px !important;
  box-shadow: var(--box-shadow) !important;
  color: var(--primary-color) !important;
  font-weight: bold !important;
  padding: 5px 8px 6px 8px !important;
  text-transform: uppercase !important;
}

button:hover,
#editBookmarkPanel .expander-up:hover,
#editBookmarkPanel .expander-down:hover {
  background: var(--bg-4) !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"], [open]):hover,
toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-badge-stack,
toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-badge-stack,
.identity-box-button:hover:not([open="true"]),
.search-go-button:hover,
.urlbar-page-action:not([disabled]):hover,
#context-back[_moz-menuactive="true"],
#context-forward[_moz-menuactive="true"],
#context-reload[_moz-menuactive="true"],
#context-stop[_moz-menuactive="true"],
#context-bookmarkpage[_moz-menuactive="true"],
#nav-bar[customizing] > .overflow-button > .toolbarbutton-icon,
#PersonalToolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover,
#tabbrowser-arrowscrollbox:not([scrolledtostart="true"])::part(scrollbutton-up):hover,
#tabbrowser-arrowscrollbox:not([scrolledtoend="true"])::part(scrollbutton-down):hover,
#tracking-protection-icon-container:hover:not([open="true"]),#urlbar-go-button:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: var(--secondary-color) !important;
}

menupopup {

  /*** POPUP ***/
  --menu-disabled-color: var(--secondary-color) !important;
  --panel-background: var(--bg-3) !important;
  --panel-border-color: transparent !important;
  --panel-border-radius: 1px !important;
  --panel-color: var(--primary-color) !important;
  --windows-panel-box-shadow: 0 !important;
  background: var(--bg-3) !important;
  border-radius: 2px !important;
  border: 1px solid var(--border-color) !important;
  box-shadow: none !important;
  padding: 0px 5px !important;
  margin-block: 0px !important;
}

panel {
  --panel-border-color: transparent !important;
}

.menupopup-arrowscrollbox {
  box-shadow: none !important;
  margin-block: 0px !important;
}

menupopup > menu,
menupopup > menuitem {
  background: var(--bg-3) !important;
  border-radius: 0px !important;
  border-color: var(--border-color) !important;
  color: var(--primary-color) !important;
  padding: 0px 0px 5px 0px !important;
  text-transform: capitalize !important;
}

menupopup > menu:hover > label,
menupopup menuitem:hover > label {
  color: var(--secondary-color) !important
}

#context-back image,
#context-forward image,
#context-reload image,
#context-stop image,
#context-bookmarkpage image {
  background-color: transparent !important;
}

menuseparator {
  border-color: var(--border-color) !important;
}

#appMenu-notification-popup,
#appMenu-popup,
#customizationui-widget-panel,
#downloadsPanel,
#editBookmarkPanel,
#identity-popup,
#permission-popup,
#protections-popup,
#widget-overflow {
  --arrowpanel-border-radius: 4px !important;
  --windows-panel-box-shadow: 0 !important;
  background: var(--bg-3) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 2px !important;
}

.panel-subview-body {
  margin: -8px 0px 0px -5px !important;
}

.cui-widget-panelview menuseparator,
.cui-widget-panel toolbarseparator,
.PanelUI-subView menuseparator,
.PanelUI-subView toolbarseparator,
#downloadsFooterButtons > toolbarseparator,
#editBookmarkPanel toolbarseparator,
#identity-popup-mainView toolbarseparator,
#identity-popup-securityView > toolbarseparator,
#permission-popup-mainView > toolbarseparator,
#PlacesToolbar menupopup[placespopup="true"] toolbarseparator,
#protections-popup-multiView toolbarseparator,
#widget-overflow-mainView > toolbarseparator,
#widget-overflow-mainView > .panel-subview-body > toolbarseparator {
  border-top: 1px solid var(--border-color) !important;
}

panelview .toolbarbutton-1,
.customizationmode-checkbox,
.customizationmode-button,
.downloadMainArea,
.identity-popup-security-content,
.panel-viewcontainer .panel-subview-body,
.subview-subheader,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1,
#customization-panelHolder *,
#editBookmarkPanelBottomContent > checkbox,
#editBookmarkPanelRows > vbox,
#emptyDownloads,
#identity-popup-mainView-panel-header,
#permission-popup-mainView-panel-header,
#identity-popup-securityView-body {
  color: var(--primary-color) !important;
}

:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem="true"]) > toolbarbutton):not([disabled]):hover {
  color: var(--secondary-color) !important;
  background-color: transparent !important;
  opacity: var(--opacity) !important;
}

.panel-header,
.panel-header > h1 > span,
.panel-header > .subviewbutton-back + h1 {
  color: var(--primary-color) !important;
  font-size: 11pt !important;
}

#editBMPanel_folderMenuList,
#editBookmarkPanelRows > vbox > input,
#editBookmarkPanelRows > vbox > hbox > input {
  background-color: var(--bg-5) !important;
  border-radius: 2px !important;
  border: 1px solid var(--border-color) !important;
  box-shadow: var(--box-shadow) !important;
  color: var(--primary-color) !important;
  outline: none !important;
}

treechildren::-moz-tree-row(hover),
treechildren::-moz-tree-row(selected) {
  background: var(--bg-2) !important;
}

treechildren::-moz-tree-cell-text(hover),
treechildren::-moz-tree-cell-text(selected) {
  color: var(--primary-color) !important;
}

treechildren::-moz-tree-row(selected, current, focus) {
  outline: none !important;
}

treechildren::-moz-tree-separator {
  border-top: 1px solid var(--border-color) !important;
  border-bottom: none !important;
}

dialog,
#commonDialog {

  /*** DIALOG ***/
  background-color: var(--bg-3) !important;
  color: var(--primary-color) !important;
}

.dialog-content-box {
  background-color: var(--bg-3) !important;
  color: var(--primary-color) !important;
}

#editBMPanel_folderTree,
#editBMPanel_tagsSelector {
  -moz-appearance: none !important;
  background: var(--bg-2) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 2px !important;
  box-shadow: var(--box-shadow) !important;
  color: var(--primary-color) !important;
  padding: 5px !important;
}

.search-one-offs,
.titlebar-spacer,
#appMenu-fxa-status2,
#appMenu-fxa-separator,
#nav-bar #nav-bar-customization-target #save-to-pocket-button,
#nav-bar #urlbar-container #identity-permission-box,
#nav-bar #urlbar-container #tracking-protection-icon-container,
#TabsToolbar .tab-content .tab-label-container .tab-secondary-label,
#wrapper-alltabs-button {

  /*** USELESS ***/
  display: none !important;
}

/* NAVIGATOR HEADER */

/** DESCRIPTION : change the elements of the navigator header **/
#navigator-toolbox {
  background: var(--bg-6) !important;
  border-bottom: 1px solid var(--border-color) !important;
}

.titlebar-min {
  margin: -3px -7px 0px 0px !important;
}

.titlebar-max,
.titlebar-restore {
  margin: -4px -8px 0px 0px !important;
}

.titlebar-close {
  margin: -4px 1px 0px 0px !important;
}

.titlebar-button:hover {
  background-color: transparent !important;
  opacity: var(--opacity) !important;
}

#titlebar #toolbar-menubar {

  /*** MENU BAR ***/
  background: var(--bg-3) !important;
  border-bottom: 1px solid var(--border-color) !important;
  color: var(--primary-color) !important;
}

#titlebar #toolbar-menubar[autohide="false"] {
  padding: 7px 0px 3px 3px !important;
}

#titlebar #toolbar-menubar[autohide="true"] #menubar-items {
  padding: 7.5px 0px 3px 3px !important;
}

#titlebar #toolbar-menubar[autohide="false"] #menubar-items {
  margin-top: 0.5px !important;
}

#toolbar-menubar > #menubar-items > #main-menubar > menu[_moz-menuactive="true"] {
  background-color: transparent !important;
  color: var(--secondary-color) !important;
}

#PersonalToolbar.browser-toolbar:not(.titlebar-color) {

  /*** PERSONAL BAR ***/
  background-color: var(--bg-2) !important;
  color: var(--primary-color) !important;
  border-top: 1px solid var(--border-color) !important;
  padding: 3px 5px 5px 5px !important;
}

#PersonalToolbar #PlacesToolbarItems .bookmark-item {
  margin-right: 10px !important;
}

#PersonalToolbar toolbarbutton.bookmark-item {
  fill: var(--primary-color) !important;
}

#PersonalToolbar .bookmark-item[open="true"] {
  background: transparent !important;
}

#TabsToolbar {

  /*** TABS ***/
  margin: 0px 0px -5px 2.5px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0px !important;
}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-stack {
  margin-right: -4px !important;
}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-background {
  background: var(--bg-1) !important;
  border: 1px solid var(--border-color);
  border-radius: 1px !important;
  border-width: 1px 0px 0px 1px;
}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:nth-last-of-type(1) .tab-background {
  border-right: 1px solid var(--border-color) !important;
}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:hover .tab-background:not([selected="true"]) {
  background: var(--bg-2) !important;
}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-background[selected] {
  background: var(--bg-2) !important;
  box-shadow: none !important;
  outline: none !important;
}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-icon-stack {
  margin: 0 3px !important;
}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-label-container {
  color: var(--primary-color) !important;
}

#nav-bar {

  /*** NAVIGATION BAR ***/
  background: var(--bg-2) !important;
  border-top: 1px solid var(--border-color) !important;
  box-shadow: none !important;
  padding-bottom: 2px !important;
}

#nav-bar #urlbar-container #urlbar {
  margin-top: -1.5px !important;
}

#nav-bar #urlbar-container #urlbar #urlbar-input-container {
  border: none !important;
  color: var(--primary-color) !important;
}

#nav-bar #urlbar-container #urlbar #urlbar-input-container #identity-box[pageproxystate="valid"].notSecureText > .identity-box-button,
#nav-bar #urlbar-container #urlbar #urlbar-input-container #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button,
#nav-bar #urlbar-container #urlbar #urlbar-input-container #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button,
#nav-bar #urlbar-container #urlbar #urlbar-input-container #urlbar-label-box {
  background-color: transparent !important;
  color: var(--primary-color) !important;
}

#nav-bar #urlbar[focused="true"] > #urlbar-background,
#nav-bar #searchbar:focus-within {
  box-shadow: none !important;
}

#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background,#searchbar:focus-within {
  outline: none !important;
}

#nav-bar #urlbar-container #urlbar #urlbar-background {
  background-color: transparent !important;
  border: none !important;
}

#nav-bar #urlbar-container #urlbar .urlbarView {
  background: var(--bg-2) !important;
  border: 1px solid var(--border-color) !important;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  color: var(--primary-color) !important;
  font-size: 10pt !important;
  padding: 0px 10px 8px 10px !important;
  margin-top: .5px !important;
}

#nav-bar #urlbar-zoom-button {
  background-color: var(--bg-3) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 2px !important;
  font-size: 9.5pt !important;
  font-weight: bold !important;
  width: 50px !important;
  padding: 0px 0px 1px 0px !important;
  margin-top: 6px !important;
}

#zoom-reset-button {
  background-color: var(--bg-3) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 2px !important;
  color: var(--primary-color) !important;
  font-size: 9.5pt !important;
  font-weight: bold !important;
  margin-top: 2px !important;
}

#urlbar-search-mode-indicator {
  background-color: var(--bg-3) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 2px !important;
  color: var(--primary-color) !important;
  font-weight: bold !important;
  padding-bottom: 2 px !important;
  margin-top: 1px !important;
}

#urlbar-search-mode-indicator-close {
  margin-top: 1px !important;
}

#urlbar-search-mode-indicator-close:hover {
  background-color: transparent !important;
  color: var(--secondary-color) !important;
}

#searchbar {
  background-color: var(--bg-5) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 2px !important;
  color: var(--primary-color) !important;
}

#PopupSearchAutoComplete {
  --panel-color: var(--primary-color) !important;
  --panel-background: var(--bg-5) !important;
  --panel-border-color: var(--border-color) !important;
  background: var(--bg-5) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 2px !important;
}

#nav-bar #star-button-box[open="true"] {
  background: transparent !important;
}

#nav-bar #nav-bar-overflow-button:not([open="true"]):hover,
#nav-bar #nav-bar-overflow-button[open="true"] .toolbarbutton-icon,
#nav-bar #PanelUI-menu-button:not([open="true"]):hover stack,#nav-bar #PanelUI-menu-button[open="true"] stack {
  opacity: var(--opacity) !important;
}

/* FINDBAR */

/** DESCRIPTION : change the elements of the finbar **/
findbar {
  background: var(--bg-2) !important;
  border-top: 1px solid var(--border-color) !important;
  color: var(--primary-color) !important;
  padding-bottom: 8px !important;
}

.checkbox-check {
  background-color: var(--bg-1) !important;
  border: 1px solid var(--border-color) !important;
  color: var(--primary-color) !important;
}

.checkbox-check[checked] {
  border-color: var(--border-color) !important;
}

findbar .findbar-label.findbar-find-status {
  color: #c0392b !important;
  font-weight: bold !important;
}

findbar .findbar-find-previous:not([disabled]):hover,
findbar .findbar-find-next:not([disabled]):hover {
  background: transparent !important;
  color: var(--secondary-color) !important;
}

findbar .close-icon:hover {
  background-color: transparent !important;
}

/* CUSTOMIZATION */

/** DESCRIPTION : chane the elements of the customization page **/
#customization-container {
  background-image: none !important;
  background: var(--bg-3) !important;
  color: var(--primary-color) !important;
}

#customization-panelWrapper > .panel-arrowbox > .panel-arrow[side="top"] {
  fill: var(--bg-3) !important;
  stroke: var(--border-color) !important;
}

#customization-panelWrapper > .panel-arrowcontent {
  border: 1px solid var(--border-color) !important;
  border-radius: 2px !important;
  box-shadow: var(--box-shadow) !important;
}

#customization-panelHolder > #widget-overflow-fixed-list:not(:empty) {
  border-color: var(--border-color) !important;
}

#customization-footer {
  border-top: 1px solid var(--border-color) !important;
}

#customization-uidensity-menu {
  background: var(--bg-3) !important;
  border: 1px solid var(--border-color) !important;
}

#customization-uidensity-menu * {
  border-color: var(--border-color) !important;
  box-shadow: none !important;
}

/* HISTORY/BOOKMARKS SIDEBAR */

/** DESCRIPTION : change the elements of the history/bookmarks sidebar **/
#sidebar-box {
  --sidebar-background-color: var(--bg-2) !important;
  --sidebar-text-color: var(--primary-color) !important;
  background-color: var(--bg-2);
  color: var(--primary-color) !important;
}

#sidebar-switcher-target:hover,
#sidebar-switcher-target.active {
  background-color: transparent !important;
  color: var(--secondary-color) !important;
}

#sidebarMenu-popup {
  background: var(--bg-3) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 2px !important;
  box-shadow: var(--box-shadow) !important;
}

#sidebarMenu-popup * {
  box-shadow: none !important;
}

.sidebar-panel,
body[lwt-sidebar] {
  background-color: var(--bg-3) !important;
}

.sidebar-placesTree {
  color: var(--primary-color) !important;
}

#sidebar-box,
splitter {
  --sidebar-border-color: var(--border-color) !important;
}

.sidebar-placesTreechildren::-moz-tree-row(hover) {
  background-color: var(--bg-2) !important;
}

.sidebar-placesTreechildren::-moz-tree-cell-text(hover) {
  background-color: transparent !important;
}

.sidebar-placesTreechildren::-moz-tree-row(selected) {
  background-color: var(--bg-2) !important;
}

/* DOWNLOAD */

/** DESCRIPTION : change the elements of the download page **/
#downloadsListBox{
  border: none !important;
}

.downloadsPanelFooterButton:hover,
#downloadsListBox > richlistitem[state="1"][exists].hoveringMainArea:hover,
#downloadsListBox > richlistitem.openWhenFinished.hoveringMainArea:hover,
#downloadsListBox > richlistitem[verdict]:hover,
#downloadsListBox > richlistitem.openWhenFinished:hover {
  background-color: var(--bg-2) !important;
}

.downloadButton {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.downloadButton:hover {
  background-color: var(--bg-2) !important;
}

#downloadsListBox > richlistitem[selected],
#downloadsListBox:focus > richlistitem[selected] {
  background-color: var(--bg-2) !important;
  background-image: none !important;
  outline: none !important;
  outline-offset: 0 !important;
  -moz-outline-radius: 0 !important;
}
