@-moz-document url("about:newtab"),
url("about:home") {

:root {
  --primary-color: #FFF !important;
  --border-color: #000 !important;
  --bg: url("https://i.imgur.com/w6PKN8M.png") !important;
  --bg-op: rgba(0,0,0,.4) !important;
  --card-op: rgba(0,0,0,.25) !important;
}

.body-wrapper.on .discovery-stream:nth-child(2),
.icon.icon-pin-small,
.logo-and-wordmark,
.search-wrapper {
  display: none !important;
}

.activity-stream::before {
  background: var(--bg-op) !important;
  content: "" !important;
  height: 100% !important;
  width: 100% !important;
  position: absolute !important;
}

.activity-stream {
  background: no-repeat var(--bg) center !important;
  background-size: 100% auto !important;
  overflow: hidden !important;
}

.top-site-outer .title span {
  color: #FFF !important;
  font-size: 12pt !important;
  font-weight: bold !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5) !important;
}

.top-site-outer .tile {
  background-color: var(--card-op) !important;
  backdrop-filter: blur(10px) !important;
}

.top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
  background: transparent !important;
}

.top-site-outer .context-menu-button {
  fill: var(--primary-color) !important;
}

.top-site-outer .context-menu-button:is(:active, :focus) {
  background-color: transparent !important;
  opacity: .3 !important;
}

.top-sites-list:not(.dnd-active) .top-site-outer:is(:hover) .title span {
  opacity: .7 !important;
}

.icon {
  color: var(--primary-color) !important;
}

.personalize-button:hover {
  background-color: transparent !important;
  opacity: .3 !important;
}
